{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%load static%}
<link rel="stylesheet" href="{%static 'css/app.css'%}">
<link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">

{%block body%}
<body style="background-image:url('{%static 'images/nature.jpg'%}'); background-repeat: no-repeat;
  background-size:cover;opacity:110%;max-inline-size: 100%;block-size:auto;">

<h2 style="text-align:center;margin-top:25px;color:lightblue">Login</h2>
<div class="d-flex justify-content-center">
<form method="POST" class="w-25 p-3 mb-2 mt-4 bg-dark opacity-75 text-white"> 
    {%csrf_token%}
    <div class="text-center">
    <i style="font-size:70px;margin:10px 0;max-inline-size: 100%;
    block-size:auto;" class="fa-solid fa-circle-user"></i></div>
    <div class="form-group mt-3 ">
      <label for="username">Username</label>
      <input type="text" class="form-control mt-2 col-xs-3" name="username"  placeholder="Enter username">
    </div>
    <div class="form-group mt-4 ">
      <label for="password">Password</label>
      <input type="password" class="form-control mt-2" name="password" placeholder="Password">
    </div>
    {{error_msg }}
    <div class="form-group form-check mt-3">
      <input type="checkbox" class="form-check-input" id="exampleCheck1">
      <label class="form-check-label" for="exampleCheck1">Check me out</label>
    </div>
    <div class="text-center">
    <button type="submit" value="save" class="btn btn-success mt-4 mx-2 my-2" >LOGIN</a></button><h4>
    </div>
      {% comment %} <a href="adduser" style="margin-left:150px;margin-top:-20px;text-decoration:none">Sign up</a></h4> {% endcomment %}
  </form>
</div>
</div>
{%endblock%}



