{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{%load static%}
<link rel="stylesheet" href="{%static 'css/app.css'%}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <h4><a class="nav-link" href="sendmail" style="color:whitesmoke;padding-left:40px;font-size:26px">Home </a></h4>
        </li>
        <li class="nav-item">
        </h3><a class="nav-link" href="success" style="padding-left:40px;font-size:24px">Success</a></h3>
        </li>
      </ul>
        <div class="namo">
        <h2 style="color:yellow;font-size:25px;padding-left:330px"> Email Sending Through Django</h2>
      </div>
    <button type="button" style="border-radius:10px;background:red;margin-left:480px;"><a href="logout" style="font-size:22px;text-decoration:none;color:white">logout</a></button>
  </div>
  </nav>
  
  

