
.container{
    width:46%;
    margin:60px auto 20px auto;
    box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,0.4);
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    -o-box-shadow: 0 0 8px rgba(0,0,0,0.3);
    border-radius: 20px;
    padding-bottom: 30px;
    padding: 30px 0 0 80px;
    background-color: rgb(216, 222, 228);

}

.input-field{
    width:320px;
    height:40px;
    margin-top:20px;
    margin-left: 80px;
    border-radius: 10px;
   
}

.description{
    margin-top:20px;
    margin-left: 80px;
    border-radius: 10px;
   
}

.description:focus{
    border: 4px solid rgb(243, 125, 223);
}

.pointer{
    margin: 20px 0 20px 50px;
}

td label{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.input-field:focus{
    border: 4px solid rgb(252, 128, 232);
}

